<h2>Países</h2>
<hr>

<ul class="list-group">
<!--  <li routerLink="home"
      style="cursor: pointer"
      routerLinkActive="active"
      class="list-group-item">
      Home Page
  </li>
  <li routerLink="about"
      style="cursor: pointer"
      routerLinkActive="active"
      class="list-group-item">
      About Page
  </li>

  <li routerLink="contact"
      style="cursor: pointer"
      routerLinkActive="active"
      class="list-group-item">
    Contact Page
  </li>-->

  <li routerLink="countries/by-capital"
      style="cursor: pointer"
      routerLinkActive="active"
      class="list-group-item">
    Por capital
  </li>

  <li routerLink="countries/by-country"
      style="cursor: pointer"
      routerLinkActive="active"
      class="list-group-item">
    Por país
  </li>
  <li routerLink="countries/by-region"
      style="cursor: pointer"
      routerLinkActive="active"
      class="list-group-item">
    Por región
  </li>
</ul>
